@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    transition: all 0.15s ease-out;
}

html,
body,
#root {
    height: 100%;
}

th {
    background-color: var(--mantine-color-brand-3);
    color: white !important;
    font-weight: 600 !important;
    border-width: 3px !important;
    border-color: var(--mantine-color-brand-5) !important;
    font-family: "Raleway", sans-serif;
}

td {
    border-width: 3px !important;
    font-weight: 600;
}
